In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("NameFile.csv")

In [11]:
df.shape

(38, 4)

In [14]:
df

     Name Class  HP  AP
0       1     a   b   c
1   kevin     1   1   1
2       2     a   b   c
3   kevin     2   2   2
4       3     a   b   c
5   kevin     3   3   3
6       4     a   b   c
7   kevin     4   4   4
8       5     a   b   c
9   kevin     5   5   5
10      6     a   b   c
11  kevin     6   6   6
12      7     a   b   c
13  kevin     7   7   7
14      8     a   b   c
15  kevin     8   8   8
16      9     a   b   c
17  kevin     9   9   9
18     10     a   b   c
19  kevin    10  10  10
20     11     a   b   c
21  kevin    11  11  11
22     12     a   b   c
23  kevin    12  12  12
24     13     a   b   c
25  kevin    13  13  13
26     14     a   b   c
27  kevin    14  14  14
28     15     a   b   c
29  kevin    15  15  15
30     16     a   b   c
31  kevin    16  16  16
32     17     a   b   c
33  kevin    17  17  17
34     18     a   b   c
35  kevin    18  18  18
36     19     a   b   c
37  kevin    19  19  19

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    38 non-null     object
 1   Class   38 non-null     object
 2   HP      38 non-null     object
 3   AP      38 non-null     object
dtypes: object(4)
memory usage: 1.3+ KB

In [18]:
pd.set_option('display.max_columns', 10000)